/*
 * photograph of a girl 
 * welcoming message
 * two buttons
 *
 */

.home {
    min-height: 800px;
    position: relative;
    outline: 1px solid blue;
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}
.top-menu__list {
    @include flex(center, center);
}
.top-menu__item {
    margin: 0 5px;
    a {
        text-transform: uppercase;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        display: block; 
        padding: 304px 146px;
        transition: 0.04s;
        &:hover {
            color: $red;
            border-top: 5px solid $red;
        }
    }
}