/*
 * photograph of a girl 
 * welcoming message
 * two buttons
 *
 */

.home {
    min-height: 800px;
    position: relative;
    outline: 1px solid blue;
    &__video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}
.top-menu__list {
    @include flex(center, center);
}
.top-menu__item {
    margin: 0 5px;
    a {
        text-transform: uppercase;
        color: $black;
        font-size: 13px;
        font-weight: 700;
        display: flex; 
        padding: 40px 50px;
        transition: 0.04s;
        border-top: 5px solid transparent;
        &:hover {
            color: $gold;
            border-top: 5px solid $gold;
        }
    }
}
.logo {
    @include flex(space-between, flex-start);
    margin-top: relative 305px;
    margin: 245px;
    display: flex;
    
}
.socials {
    width: 67px;
    a {
        display: block;
        height: 14px;
        border-radius: 50%;
        transition: 0.03s;
        margin-bottom: 7px;
        &:hover {
            background: $red;
        }
    }
}
.home__text {
    text-align: center;
    h6 {
        color: $white;
        font-size: $text;
    }
    h1 {
        color: $yellow;
        font-family: $kurale;
        font-weight: normal;
        font-size: 72px;
        margin-top: 75px;
    }
}